<mat-sidenav-container class="container">
  <mat-sidenav #drawer class="sidemenu-container" mode="push" (closedStart)="onClose()" [opened]="isSideMenuOpen">
    <div class="side-menu">
      <header>
        <img src="../../../../assets/images/header.jpg" class="header-image" />
      </header>
      <section class="menu-lists">
        <mat-nav-list color="primary" (click)="toggleMenu()">
          <a mat-list-item [routerLink]="['/']" class="nav-link-item"> <mat-icon>calculate</mat-icon> Calculer un cap</a>
          <a mat-list-item [routerLink]="['/sets']" class="nav-link-item"> <mat-icon>list_alt</mat-icon> Résultats</a>
          <a mat-list-item [routerLink]="['/tasks']" class="nav-link-item"> <mat-icon>memory</mat-icon> Liste des calculs</a>
          <a mat-list-item href="https://github.com/Lowxorx/SwtorOptimizer" target="_blank" class="nav-link-item"> <mat-icon svgIcon="github"></mat-icon> Code source</a>
        </mat-nav-list>

        <mat-list dense class="bottom-list">
          <mat-list-item *ngFor="let version of appVersions">
            <p mat-line>{{ version }}</p>
          </mat-list-item>
        </mat-list>
      </section>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <app-topbar [IsSideMenuOpen]="isSideMenuOpen" (PrincipalButtonClick)="toggleMenu()" (OnToggleTheme)="onToggleTheme($event)"></app-topbar>
    <div class="body">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
