@import '../../../../custom-theme.scss';

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidemenu-container {
    width: 300px;
    max-width: 70%;
  }

  .body {
    padding-top: 64px;
    margin: $margin;
  }
}

.menu-lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-list {
    position: absolute;
    bottom: 0;
    width: 100%;
}
