@import '../../../../custom-theme.scss';

.topbar {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 16px;
  z-index: 99;
  @include shadow(4);

  a {
    cursor: pointer;
    text-decoration: inherit;
  }

  h1 {
    font-size: 24px;
  }
}

.app-title {
  color: white;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidemenu-container {
    width: 300px;
    max-width: 70%;
  }

  .body {
    padding-top: 64px;
    margin: $margin;
  }
}
