<mat-sidenav-container class="container">
  <mat-sidenav class="sidemenu-container" mode="over" (closedStart)="OnClose()" [opened]="IsSideMenuOpen">
    <div class="side-menu">
      <app-theme-toggle (ToggleTheme)="OnToggleTheme($event)"></app-theme-toggle>
      <header></header>
      <section>
        <mat-nav-list color="primary">
          <a mat-list-item [routerLink]="['/']"> Home</a>
          <a mat-list-item [routerLink]="['/sets']"> Sets</a>
          <a mat-list-item [routerLink]="['/tasks']"> Calculs</a>
        </mat-nav-list>
      </section>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar class="topbar" color="primary">
      <button (click)="OnPrincipalButtonClick()" mat-icon-button aria-label="Button to toggle menu">
        <mat-icon>menu</mat-icon>
      </button>

      <a [routerLink]="['/']">
        <h1 class="app-title">SWTOR Optimizer</h1>
      </a>

      <button mat-icon-button aria-label="Button to toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <div class="body">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
