<div class="set-details">
  <h2 mat-dialog-title>Détails du set</h2>
  <div class="dialog-content" mat-dialog-content>
    <mat-button-toggle-group *ngIf="stats" name="stat" (change)="onStatChange($event)">
      <mat-button-toggle *ngFor="let stat of stats" [value]="stat.name" [checked]="isChecked(stat.name)"> {{ stat.displayName }}</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-list>
      <mat-list-item>
        <h4 mat-line>Endurance : {{ enhancementSet.endurance }} | {{ currentStat.displayName }} : {{ enhancementSet.threshold }} | Puissance : {{ enhancementSet.power }}</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 mat-line>Détails des sophistications utilisées</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let enhancement of enhancementSet.enhancements">
        <mat-icon mat-list-icon>chevron_right</mat-icon>
        <h4 mat-line>
          Supérieure 80 <strong>{{ enhancement.name }}</strong> {{ getEnhancementNameToDisplay(enhancement) }}
        </h4>
      </mat-list-item>
    </mat-list>
    <div class="footer-button">
      <button mat-flat-button color="primary" (click)="close()">Fermer</button>
    </div>
  </div>
</div>
