.set-display {
  margin-bottom: 16px;
}

.stat-selector {
  display: flex;
}

.helper-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-table {
  margin-top: 16px;
}
