<div *ngIf="task != null && isLoaded" class="container mat-typography">
  <div *ngIf="isDetailsVisible" class="centered">
    <h1 class="mat-title">Détails de la tâche de calcul du cap {{ task.threshold }}</h1>
    <h4>Statut de la tâche : {{ task.statusDisplayName }}</h4>
    <h4 *ngIf="taskIsStarted()">Date de démarrage du calcul : {{ task.startDate | date: 'dd/MM/yyyy' }}</h4>
    <h4 *ngIf="taskIsEnded()">Durée d'exécution : {{ task.duration }}</h4>
    <h4 *ngIf="taskIsEnded()">Nombre de combinaisons trouvées : {{ task.foundSets }}</h4>
  </div>
  <button *ngIf="task && taskIsEnded() && task.foundSets > 0" mat-raised-button color="primary" (click)="toggleDetails()">
    {{ isDetailsVisible ? 'Masquer les détails' : 'Afficher les détails' }}
  </button>
  <div *ngIf="task && !taskIsEnded()" class="centered">
    <h3>Le calcul est toujours en cours. Selon le nombre de possibilités, cela peut prendre un moment. Merci de patienter.</h3>
    <mat-progress-spinner mode="indeterminate" color="primary"> </mat-progress-spinner>
  </div>
</div>

<div *ngIf="threshold !== undefined && task && taskIsEnded() && task.foundSets > 0">
  <app-sets-table [threshold]="threshold"></app-sets-table>
</div>

<div *ngIf="!task && isLoaded" class="centered">
  <p>La tâche spécifiée n'existe pas.</p>
</div>

<div *ngIf="!isLoaded" class="centered">
  <mat-spinner color="primary" mode="indeterminate"></mat-spinner>
</div>
