<ng-container>
  <mat-card class="set-display" *ngIf="selectedSet">
    <mat-card-content>
      <div class="stat-selector">
        <mat-button-toggle-group *ngIf="stats" name="stat" (change)="onStatChange($event)">
          <mat-button-toggle *ngFor="let stat of stats" [value]="stat.name" [checked]="isChecked(stat.name)"> {{ stat.displayName }}</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="helper-text">
          <mat-icon mat-list-icon>chevron_left</mat-icon>
          <p>Choisissez la statistique que vous souhaitez afficher dans les détails</p>
        </div>
      </div>
      <mat-list>
        <mat-list-item>
          <h4 mat-line>Endurance : {{ selectedSet.endurance }} | Puissance : {{ selectedSet.power }} | {{ currentStat.displayName }} : {{ selectedSet.threshold }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4 mat-line>Détails des sophistications utilisées</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let enhancement of selectedSet.enhancements">
          <mat-icon mat-list-icon>chevron_right</mat-icon>
          <h4 mat-line>
            Supérieure 80 <strong>{{ enhancement.name }}</strong> {{ getEnhancementNameToDisplay(enhancement) }}
          </h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <div class="mat-elevation-z8 table-container">
    <mat-table [dataSource]="dataSource" matSort matSortActive="power" matSortDisableClear multiTemplateDataRows matSortDirection="desc">
      <ng-container matColumnDef="threshold" sticky>
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cap </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.threshold }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="setName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Set </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.setName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="power">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Puissance </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.power }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endurance">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Endurance </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.endurance }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Détails </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="Voir les détails" (click)="showSetDetails(element)">
            <mat-icon>zoom_in</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</ng-container>
