<ng-container>
  <mat-form-field class="ou-filter">
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrer par cap, sophistication, niveau de puissance...">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="power" matSortDisableClear matSortDirection="desc">

    <ng-container matColumnDef="setName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Set </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.setName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="threshold">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cap visé </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.threshold }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="power">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Puissance </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.power }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paginator-footer">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        <mat-toolbar>
          <mat-toolbar-row class="button-paginator-footer">
            <mat-paginator *ngIf="dataSource" class="button-paginator" [length]="dataSource.data.length" [pageSizeOptions]="[10,50,100]"></mat-paginator>
          </mat-toolbar-row>
        </mat-toolbar>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['paginator-footer']; sticky: true"></mat-footer-row>
  </mat-table>
</ng-container>
