.filter {
  width: 95%;
  margin: 16px;
}

.title {
  text-align: center;
}

.table-container {
  max-height: 1000px;
  overflow: auto;
}

.flat-icon-button {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.flat-icon-button > span {
  display: flex;
  align-items: center;
}

.actions-cell {
  max-width: 10%;
}
