.title {
  text-align: center;
}

.set-display {
  margin-bottom: 16px;
}

.table-container {
  max-height: 1000px;
  overflow: auto;
}

.stat-selector {
  display: flex;
}

.helper-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
